
</div>
  <footer>
    <p>&copy; 2023 Blog Hub. All rights reserved.</p>
  </footer>
   

  <script>
    // Initialize TinyMCE
    tinymce.init({
      selector: "#postBody",
      toolbar: "undo redo | formatselect | bold italic | alignleft aligncenter alignright | bullist numlist outdent indent"
    });

<<<<<<< HEAD
   </script>
=======
    // Event listener for Discard button to go back to the previous page
   
  </script>
>>>>>>> 0a1eec35740d91ecc3ae0f7e6a9a31c0dd714b1e

  
</body>
</html>
