
</div>
  <footer>
    <p>&copy; 2023 Blog Hub. All rights reserved.</p>
  </footer>
   

  <script>
    // Initialize TinyMCE
    tinymce.init({
      selector: "#postBody",
      toolbar: "undo redo | formatselect | bold italic | alignleft aligncenter alignright | bullist numlist outdent indent"
    });

   </script>

  
</body>
</html>
