<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Blog Hub</title>
  <meta charset="utf-8">
  
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="https://kit.fontawesome.com/27c4e72872.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/logo.jpg" type="image/x-icon">
  <script src="https://cdn.tiny.cloud/1/1dgtydsujix3hj21wj0kmeveqtrndg0pc1kezly6j747h05s/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>

  </head>


<body>
  
  <header>
    <nav class="navbar">
      <div class="logo">
        <!-- Your logo image here -->
        <img src="/logo.jpg" alt="Logo">
        <p>BLOGHUB</p>
      </div>
      <ul class="nav-links">
          <li id="home"><a href="/">HOME</a></li>
          <li id="contact"><a href="/compose">COMPOSE</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          
    </nav>
  </header>


  <div class="container">
