* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #302d2d6c;
}

/* header.ejs styling */
header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.navbar {
    left: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5.1rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;

}

.logo p {
    color: #fff;
    font-size: larger;
    letter-spacing: .6pt;
    margin-left: 5px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li:first-child {
    margin-left: 0;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
}

.container {
    background-color: #fefafa;
    min-height: 80vh;
    width: 90%;
    margin: 0 auto;
    padding: 2rem
}

/* home.ejs styling ------------------------------------------------------------------------- */
.hero {
    text-align: center;
    padding: 10px 0;
}

.hero h1 {
    /* font-size: 36px; */
    margin-bottom: 20px;
}

.hero p {
    /* font-weight: bold; */
    color: #7e7c7c;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 20px;
}


.hero {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.hero h1 {
    margin-top: 1rem;
}

.blogs {
    text-align: left;
    padding: 10px;
    border: none;

}

.blogs h3 {
    margin: 1rem 0;
    padding: 0 .5rem;
}

.blog-post {
    margin-bottom: 30px;
    border: 1px solid rgb(167, 166, 166);
    border-radius: .5rem;
    background-color: rgba(233, 229, 229, 0.327);
    padding-bottom: 20px;
    padding: 1rem 2rem;
}

.blog-post h2 {
    /* font-size: 24px; */
    padding: .5rem 0;
}

.blog-post h5 {
    padding: .5rem 0;
}

.blog-post p {
    /* font-size: 16px; */
    color: #090000;
    padding: .5rem 0;
}

.read-more {
    display: inline-block;
    margin-top: 5px;
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
}

.no-posts-message {
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    color: #333;

}

.no-posts-message a {
    text-decoration: none;
    color: #007bff;
    padding-top: 50px;
}

/* General styles for buttons inside pagination  on home.ejs -*/
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;

}

.pagination a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* font-size: 14px; */
    cursor: pointer;
    width: 100px;
    text-align: center;
}

.previous-button {
    background-color: #007bff;
    color: white;
}

.next-button {
    background-color: #28a745;
    color: white;
}

a.disabled {
    pointer-events: none;
    opacity: 0.6;
    cursor: not-allowed;
}

/* post.ejs: page that shows each post individually------------------------------------------- */

.posts {
    max-width: 95% !important;
    margin: auto;
}

.posts h2 {
    padding: .5rem 0;
}

.posts h4 {
    margin-left: .2rem;
    padding: .5rem 0;
    color: #333;
}

.posts h5 {
    margin-left: .2rem;
    /* padding: .5rem 0; */
    padding-bottom: .5rem;
    color: #333;
}

.posts p {
    padding: .2rem 0;
    color: #333;
    width: 98%;
    margin: 0 auto;
    text-align: justify;

}

hr {
    margin: 1rem 0;
}

.post-edit-del {
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
}

.postdelete {
    display: flex;
    width: 10rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem;
    border: 1px solid rgb(169, 168, 168);
    border-radius: .2rem;
    margin: 0.5rem 0;
}

.postdelete p {
    color: red;
    padding: .1rem;
}

.postdelete:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px red;
}

@keyframes bounceAnimation {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.postdelete:hover i {
    animation: bounceAnimation 1s ease-in-out;
}



.postedit {
    display: flex;
    width: 10rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem;
    border: 1px solid rgb(169, 168, 168);
    border-radius: .2rem;
    margin: 0.5rem 0;

}

.postedit p {
    color: rgb(6, 175, 18);
    padding: .1rem;
}

.postedit:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px edit
}

.postedit:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px rgb(6, 175, 18);
}

.postedit:hover i {
    animation: bounceAnimation 1s ease-in-out;
}

/* Compose.ejs/Edit.ejs Page Styling--------------------------------------------------------- */
.compose {
    max-width: 90%;
    margin: 0 auto;
    padding: 30px;
    background-color: #f9f9f9;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.compose h1 {
    /* font-size: 32px; */
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #333333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group h5 {
    /* font-size: 18px; */
    font-weight: bold;
    color: #555555;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333333;
}


.form-group textarea {
    resize: vertical;
    min-height: 60vh;
}

.btn-primary {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #0d0e0e;
    color: #fff;
    /* font-size: 16px; */
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {

    color: #fefafa;
    cursor: pointer;
    box-shadow: 1px 3.5px 2px rgb(138, 196, 230);
}

.edit-save-dicard {
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
}

#discardBtn,
#saveBtn {
    width: 48%;
}

#saveBtn {
    background-color: rgb(2, 77, 2);
}

#discardBtn {
    background-color: rgb(101, 2, 2);
}

@media screen and (max-width: 768px) {
    .hero h1 {
        font-size: 24px;
    }

    .hero p {
        font-size: 16px;
    }

    .blog-post h2 {
        font-size: 20px;
    }

    .blog-post p {
        font-size: 14px;
    }
}

/* footer.ejs */
footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
}

@media screen and (max-width: 768px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .navbar {
        flex-direction: column;
        /* Arrange navbar items vertically */
        align-items: center;
        padding: 1rem 1.5rem;
    }

    .nav-links {
        margin: 0;
        margin-top: 20px;
        /* Create space between logo and navigation links */
    }

    .logo img {
        width: 30px;
        /* Decrease logo size for smaller screens */
    }

    .logo p {
        font-size: 14px;
        /* Decrease font size for logo text */
    }

    .nav-links li {
        display: flex;
        justify-content: space-between;
        margin-left: 0;
        /* Reset the left margin for list items */
        margin-top: 10px;
        /* Add space between navigation links */
    }

    .nav-links li:not(:first-child) {
        margin-left: 16px;
    }

    .container {
        width: 100%;
        padding: .5rem;
        /* Adjusted padding for smaller screens */
    }

    .hero h1 {
        font-size: 20px;
        /* Decrease font size for hero heading */
    }

    .hero p {
        font-size: 14px;
        /* Decrease font size for hero paragraph */
    }

    .blogs h3 {
        margin: 1rem 0;
        padding: 0 .5rem;
        font-size: 18px
    }

    .blog-post {
        padding: 1rem .9rem;
    }

    .blog-post h2 {
        font-size: 20px;
        margin: 0;
        padding: 0;

        /* Decrease font size for blog post headings */
    }

    .blog-post h5 {
        margin: 0;
        padding: 0;
        font-size: small;
        padding: .5rem 0;
    }

    .blog-post p {
        margin: 0;
        padding: 0;
        font-size: 14px;
        /* Decrease font size for blog post content */
    }

    .read-more {
        display: inline-block;
        /* margin: 3px 0; */
        margin-top: 8px;
        background-color: #333;
        color: #fff;
        padding: 2.5px 5.5px;
        text-decoration: none;
        border-radius: 4px;
        font-size: 14px;
    }

    .no-posts-message {
        text-align: center;
        margin-top: 50px;
        font-size: 18px;
        color: #333;

    }

    .no-posts-message a {
        text-decoration: none;
        color: #007bff;
        padding-top: 50px;
    }

    /* General styles for buttons inside pagination  on home.ejs -*/
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .pagination a {
        text-decoration: none;
        display: inline-block;
        padding: 4px 8px;
        margin: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        cursor: pointer;
        width: 70px;
        text-align: center;
    }

    .previous-button {
        background-color: #007bff;
        color: white;
    }

    .next-button {
        background-color: #28a745;
        color: white;
    }

    a.disabled {
        pointer-events: none;
        opacity: 0.6;
        cursor: not-allowed;
    }

    /* post.ejs: page that shows each post individually------------------------------------------- */

    .posts {
        max-width: 95% !important;
        margin: auto;
    }

    .posts h2 {
        margin: 0;
        margin-top: .8rem;
        margin-bottom: .3rem;
        padding: .3rem 0;
        font-size: 22px;
    }

    .posts h4 {
        padding: 0;
        margin: 0;
        margin-left: .2rem;
        margin-bottom: .5rem;
        color: #333;
        font-size: medium;
    }

    .posts h5 {
        padding: 0;
        margin: 0;
        margin-left: .2rem;
        margin-bottom: .5rem;
        color: #333;
    }

    .posts p {
        padding: .2rem 0;
        color: #333;
        width: 95%;
        margin: 0 auto;
        text-align: justify;
        font-size: 16px;

    }

    hr {
        margin: 1.2rem 0 .8rem 0;
    }

    .post-edit-del {
        display: flex;
        justify-content: space-between;
        margin: 1rem auto;
        width: 95%;
    }

    .postdelete {
        display: flex;
        width: 7.8rem;
        align-items: center;
        justify-content: space-between;
        padding: 0.3rem;
        border: 1px solid rgb(169, 168, 168);
        border-radius: .2rem;
        margin: 0.5rem 0;
    }

    .postdelete i {
        font-size: small
    }

    .postdelete p {
        font-size: small;
        color: red;
        padding-right: .1rem;
    }

    .postdelete:hover {
        cursor: pointer;
        box-shadow: 1px 1px 2px red;
    }


    .postedit {
        display: flex;
        width: 7.8rem;
        align-items: center;
        justify-content: space-between;
        padding: 0.3rem;
        border: 1px solid rgb(169, 168, 168);
        border-radius: .2rem;
        margin: 0.5rem 0;

    }

    .postedit i {
        font-size: small
    }

    .postedit p {
        font-size: small;
        color: rgb(6, 175, 18);
        padding-right: .1rem;
    }

    .postedit:hover {
        cursor: pointer;
        box-shadow: 1px 1px 2px edit
    }

    .postedit:hover {
        cursor: pointer;
        box-shadow: 1px 1px 2px rgb(6, 175, 18);
    }

    .postedit:hover i {
        animation: bounceAnimation 1s ease-in-out;
    }

    /* Compose.ejs/Edit.ejs Page Styling--------------------------------------------------------- */
    .compose {
        max-width: 95%;
        margin: 0 auto;
        padding: 30px 15px;
        background-color: #f9f9f9;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    }

    .compose h1 {
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
        color: #333333;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group h5 {
        font-size: 16px;
        font-weight: bold;
        color: #555555;
        margin-bottom: 5px;
    }

    .form-group input[type="text"],
    .form-group textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 13px;
        font-size: 14px;
        color: #333333;
    }


    .form-group textarea {
        resize: vertical;
        min-height: 60vh;
    }

    .btn-primary {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #0d0e0e;
        color: #fff;
        /* font-size: 16px; */
        font-weight: bold;
        text-align: center;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-primary:hover {

        color: #fefafa;
        cursor: pointer;
        box-shadow: 1px 3.5px 2px rgb(138, 196, 230);
    }

    .edit-save-dicard {
        display: flex;
        justify-content: space-between;
        margin-top: .5rem;
    }

    #discardBtn,
    #saveBtn {
        width: 48%;
    }

    #saveBtn {
        background-color: rgb(2, 77, 2);
    }

    #discardBtn {
        background-color: rgb(101, 2, 2);
    }

    /* footer.ejs */


    footer p {
        font-size: smaller;
    }
}